.categories {
  position: relative;
}
.categories .categories_all {
  background: #008874;
  padding: 15px 25px 15px 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
}
.categories .categories_all svg,
.categories .categories_all span {
  font-size: 16px;
  margin-right: 5px;
  font-weight: 700;
}
.categories .categories_all svg {
  font-size: 20px;
  font-weight: bold;
}
.categories ul {
  position: absolute;
  opacity: 1;
  border: 1px solid #ebebeb;
  width: 99%;
  background: #ffffff;
  transition: all 0.2s;
}
.categories ul li {
  list-style: none;
}
.categories ul li a {
  text-decoration: none;
  background-color: transparent;
  font-size: 16px;
  color: #1c1c1c;
  line-height: 39px;
  padding-left: 60px;
}
.categories ul li:hover {
  background: #f7ffff;
}
.categories ul li:hover a {
  color: #008874;
}
.categories ul.hidden {
  opacity: 0;
}

.search_container .search_form {
  width: 610px;
  height: 50px;
  float: left;
  padding-left: 15px;
}
.search_container form {
  display: flex;
  align-items: center;
}
.search_container input {
  border: none;
  height: 48px;
  font-size: 16;
  color: #b2b2b2;
  padding-left: 20px;
  border: 1px solid #ebebeb;
  width: 70%;
}
.search_container input :focus {
  outline: none;
  border: none;
}
.search_container button {
  font-size: 14px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px 30px 17px;
  background: #008874;
  border: none;
  height: 100%;
}
.search_container .search_phone {
  display: flex;
  align-items: center;
}
.search_container .search_phone .search_phone_icon {
  font-size: 25px;
  padding: 10px;
  background: #f5f5f5;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008874;
  cursor: pointer;
}
.search_container .search_phone .search_phone_text {
  display: inline-block;
}
.search_container .search_phone .search_phone_text p {
  color: #1c1c1c;
  font-weight: bold;
  margin-top: 5px;
}
.search_container .search_phone .search_phone_text span {
  color: #6f6f6f;
  font-size: 14px;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.header_top {
  background-color: #f5f5f5;
}

.header_top_left ul {
  display: flex;
  align-items: center;
  padding: 10px 0 13px;
  list-style: none;
  column-gap: 10px;
}
.header_top_left li {
  font-size: 14px;
  color: #1c1c1c;
  display: flex;
  align-items: center;
  column-gap: 2px;
}
.header_top_left li:first-child {
  position: relative;
}
.header_top_left li:first-child:after {
  position: absolute;
  right: -7px;
  top: 1px;
  height: 20px;
  width: 1px;
  background: #000000;
  opacity: 0.1;
  content: "";
}

.header_top_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0 13px;
}
.header_top_right ul {
  display: flex;
  column-gap: 10px;
  list-style: none;
}
.header_top_right a {
  font-size: 14px;
  display: inline-block;
  color: #1c1c1c;
  text-decoration: none;
}
.header_top_right li:last-child {
  cursor: pointer;
  margin-left: 10px;
}
.header_top_right li:last-child span {
  font-size: 14px;
  margin-left: 2px;
}

.header_logo {
  padding: 15px 0;
}

.header_menu {
  padding: 24px 0;
}
.header_menu ul {
  display: flex;
  justify-content: space-between;
}
.header_menu ul li {
  list-style: none;
  position: relative;
}
.header_menu ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #252525;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all 0.3s;
  padding: 5px 0;
  display: block;
}
.header_menu ul li:hover .header_menu_dropdown {
  opacity: 1;
  visibility: visible;
}
.header_menu ul .active a {
  color: #008874;
}
.header_menu ul .header_menu_dropdown {
  background: #222222;
  display: block;
  position: absolute;
  width: 180px;
  z-index: 9;
  padding: 5px 0;
  transition: all, 0.3s;
  opacity: 0;
  visibility: hidden;
}
.header_menu ul .header_menu_dropdown li a {
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 15px;
}
.header_menu ul .header_menu_dropdown li :hover {
  color: #008874;
}

/*# sourceMappingURL=Header.css.map */
